@page "/tracks/create"

@code {
    public Track Track { get; set; } = new();

    public bool Saved;

    protected void HandleValidSubmit()
    {
        Track.ID = (DummyDb.TracksCounter).ToString();
        
        DummyDb.TracksCounter++;
        
        DummyDb.Tracks.Add(Track);

        Saved = true;
    }

    protected void HandleInvalidSubmit()
    {
        Saved = false;
    }
}


@if (!Saved)
{
    <EditForm Model="@Track" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

        <DataAnnotationsValidator></DataAnnotationsValidator>

        <ValidationSummary></ValidationSummary>

        <div class="form-group row">
            <label for="name" class="col-form-label">Track Name: </label>
            <InputText id="name" class="form-control" @bind-Value="@Track.Name" placeholder="Enter track name"></InputText>
            <ValidationMessage For="@(() => Track.Name)" />
        </div>


        <div class="form-group row">
            <label for="description" class="col-form-label">Track Description: </label>
            <InputText id="description" class="form-control" @bind-Value="@Track.Description" placeholder="Enter track description"></InputText>
            <ValidationMessage For="@(() => Track.Description)" />
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success mt-3">Save track</button>
        </div>

    </EditForm>
}
else
{
    <div class="alert-success">
        Track Saved Successfully......
    </div>
}