@page "/empoverview"

<h3>EmployeeOverview</h3>

@code {

}

@if(MockContext.Employees == null)
{
    <p> Loading......... </p>
}
else
{
    <table class="table">
        <tr>
            <th> Employee-ID </th>
            <th> FirstName </th>
            <th> LastName </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var item in MockContext.Employees)
        {
            <tr>
                <td> @item.EmployeeId </td>
                <td> @item.FirstName </td>
                <td> @item.LastName </td>
                <td> <a href="@($"empdetails/{item.EmployeeId}")" class="btn btn-outline-primary"> Details </a> </td>
                <td> <a href="@($"empedit/{item.EmployeeId}")" class="btn btn-outline-primary"> Edit </a> </td>
            </tr>
        }
    </table>
}