<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="Styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%-include("header.ejs")%>
    <!-- <h1 class="homeh1">Hello ya <%#name%> </h1> -->
    <ul>
        <li> UserName: <%=user.userName%> </li>
        <li> UserAge: <%=user.age%> </li>
        <li> UserAdd: <%=user.address%> </li>
    </ul>

    <h1 class="homeh1">All Users</h1>

    <%for(let i=0; i<users.length; i++){%>
        <div style="background-color: aqua;">
            <ul>
                <li>Name: <%=users[i].userName%> </li>
                <li>Age: <%=users[i].age%> </li>
                <li>Address: <%=users[i].address%> </li>
            </ul>
        </div>
    <%}%>

</body>
</html>